
body {
  font-family: "Quattrocento Sans", Avenir, Helvetica, Arial, sans-serif;
  font-size: 14;
}

.wy-side-nav-search, .wy-side-nav-search > a, .wy-side-nav-search > div.version, .wy-nav-top {
  color: black;
  background: white;
}

.wy-menu-vertical a {
  color: white;
}

.wy-nav-side {
  color: black;
  background: rgb(51,123,184); /* Darker blue */
}

.wy-menu-vertical li.toctree-l1.current > a {
  background: rgb(116,182,236); /* Medium blue */
}

.wy-menu-vertical li.toctree-l1.current {
  background: rgb(116,182,236); /* Medium blue */
}

.wy-menu-vertical li.toctree-l2.current > a {
  background: rgb(207,226,242); /* Light blue */
}

.wy-menu-vertical li.toctree-l3.current {
  background: rgb(207,226,242); /* Light blue */
}

.wy-menu-vertical li.toctree-l3.current > a {
  background: white;
}

